.bg-darker {
    background-color: #2a3036;
}

html {
    overflow: hidden;
}

#externa {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    cursor: pointer;
    border-radius: 0;
    width: 128px;
    height: 180px;
    margin-bottom: 4px;
    box-sizing: unset;
}

.name {
    margin-bottom: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: normal;
}

.rede {
    text-shadow: 1px 1px 2px black;
}